<form method="post" action="{{ path('app_login_attempt_delete', {'id': login_attempt.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ login_attempt.id) }}">
    <button class="btn">Delete</button>
</form>
